#tree{
    //border: aqua 5px solid;
}

#teacher{
    margin: 20px;
    //border: red 5px solid;
}

#type{
    margin: 20px;
    //border: black 5px solid;
}

#stu{
    margin: 20px;
    //border: pink 5px solid;
}

#skill{
    margin: 20px;
    //border: orangered 5px solid;
}